<h2>スケジュール詳細</h2>

<table>
  <tr>
    <th>タイトル</th>
    <td><%= @post.title %></td>
  </tr>
  <tr>
    <th>開始日</th>
    <td><%= @post.start.strftime("%Y年%m月%d日")  %></td>
  </tr>
  <tr>
    <th>投稿日</th>
    <td><%= @post.updated_at.strftime("%Y年%m月%d日") %></td>
  </tr>
  <tr>
    <th>コメント</th>
    <td><%= @post.content %></td>
  </tr>
</table>

<div>
  <ul>
    <li><%= link_to "スケジュール一覧に戻る", :posts %></li>
    <li><%=  %></li>
    <li><%= %></li>
  </ul>
</div>